# KeenFresh Environment Variables
# Copy this file to .env and change the values for production

# Change this to a long random string for securing your JWT sessions!
JWT_SECRET=super_secret_keenfresh_key_change_in_prod

# The port the relay server runs on
PORT=3000
